.selecting-date {
  padding: 10px;
  /* margin-left: 60px; */
  /* margin-bottom: 100px; */
  outline: none !important;
}
.react-datepicker-wrapper {
  display: inline-block;
  padding-left: 0px;
  border: 0;
  width:auto;
}
input.selecting-date {
  padding-left: 40px;
  cursor: context-menu;
  caret-color: transparent;
}
.react-datepicker__input-container {
  position: relative;
  display: inline-block;
  width: 90%;
}
.graph {
  margin-left: 0px !important;
  padding-left: 50px!important;
  padding-right: 30px!important;
  margin-top: 50px !important;
}
.submit {
  margin-left: 10px !important;
  
}
.weeklySubmit {
  margin-left: 10px !important;
}

.datepicker-button {
  margin: 15px;
  gap: 10px;
}
.cancel-button {
  border-radius: 6px;
  border: 1px solid #c4c4c4;
  outline: none;
  background-color: white;
  width: 50%;
  height: 30px;
  cursor: pointer;
}
.choosedate-button {
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid #c4c4c4;
  outline: none;
  width: 50%;
  height: 30px;
  cursor: pointer;
}
/* .chart-heading {
      background-color: aquamarine!important;
  } */

.error {
  display: flex;
  flex-direction: column;
}
.week {
  font-weight: bold;
  font-size: 15px;
}
.color-text {
  color: rgb(33, 190, 33);
}

.css-zow5z4-MuiGrid-root>.MuiGrid-item{
  width: 100%;
}
.engagement-selecting-date {
  padding: 10px;
  /* margin-left: 60px; */
  /* margin-bottom: 100px; */
  outline: none !important;
}
.selecting-type {
  /* background-color: aqua!important; */
  font-size: medium;
}
.css-1f19gdh {
  padding-top: 0px !important;
}
.content {
  border: 1px solid rgb(230, 228, 228);
  color: rgb(177, 179, 195);
  font-weight: bold !important;
  font-size: 0.9rem;
}
.css-14ktfy9 {
  gap: 0px !important;
}
.css-1rj62cs-MuiTableCell-root {
  padding: 8px !important;
  /* padding: 0.75rem 1rem; */
  border-bottom: 0.0625rem solid #f0f2f5;
  border: 1px solid rgb(230, 228, 228);
  color: rgb(177, 179, 195);
  font-weight: 700;
  font-size: 0.9rem;
}

.css-bq11r7 {
  padding-top: 0px !important;
}
.css-1betna {
  margin-bottom: 0px !important;
  padding: 0px 20px 0px 20px !important;
}
.css-1t0i1an {
  margin-bottom: 0px !important;
  padding: 0px 20px 0px 20px !important;
}
.css-bq11r7 {
    padding-top: 0px!important;
    
}

.css-uk4jy3-MuiFormLabel-root-MuiInputLabel-root {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  line-height:0em!important;
  letter-spacing: 0.00938em;
  padding: 0;
  position: inherit!important;
  color: #7b809a;
  display: block;
  transform-origin: top left;
  white-space: nowrap;
  overflow:visible!important;
  text-overflow: ellipsis;
  max-width: calc(100% - 24px);
  left: 0;
  top: 0!important;
  z-index: 2!important;
  pointer-events: none;
  font-size: 1rem!important;
  color: #7b809a;
}

.selecting-values {
  padding: 10px;
}

.user-meme{
  margin-top: 40px!important;
}

.css-1xme2hm-MuiFormLabel-root-MuiInputLabel-root {
  background-color: #ffffff!important;
  /* line-height: 0.9; */
}

.css-1i1qpb1{
  padding: 0px 20px 0px 20px !important;
}

.css-1ne88ue{
  padding-top: 30px !important;
}
.css-1re6s2o{
padding-top: 20px;

}
.css-1scnu2l{
  padding-top: 0px!important;
}
.css-6fmj5{
  margin-left: 18px!important;
}

::-webkit-scrollbar{
  
  width: 0.6em; 
}
::-webkit-scrollbar-track{
  background-color: darkgray;
}
::-webkit-scrollbar-thumb{
  scroll-behavior: smooth!important;
  height: 0.2em!important;
  background-color: dimgray;
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover{
  background-color: rgb(67, 68, 67, 1);
}


.alignment {
  text-align: right!important;
}
